.App {
  height: 100%;
}

/* Search-Section */

.search-secton{
  outline: 1px solid black;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.search-secton h1{
  font-size: 32px;
  font-weight: 500;
  color: #1D302B;
}

.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.search-bar input{
  height: 56px;
  width: 420px;
  font-size: 20px;
  padding: 10px;
  border-radius: 16px;
  border: none;
  outline: none;
  color: #1D302B;
}

.search-bar button{
  height: 44px;
  width: 48px;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #E0583C;
  color: white;
  cursor: pointer;
  margin-right: 4px;
}

/* Places-Section */

.places-section {
  margin-top: 20px;
}

.places-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px; /* Space between grid items */
}

.place-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.place-image {
  width: 100%;
  height: 150px; /* Set a fixed height */
  object-fit: cover; /* Maintain aspect ratio */
  border-radius: 8px 8px 0 0; /* Round the top corners */
}

.itinerary-section {
  margin-top: 20px;
}